@model IEnumerable<DiplomaDataModel.Option.Choice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.DropDownList("validYearTerms", null, htmlAttributes: new { @class = "form-control" })

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YearTerm.YearTermId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOption.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondOption.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThirdOption.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FourthOption.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="@item.YearTermId values">
        <td>
            @(item.YearTerm.Year)
            @switch (item.YearTerm.Term)
            {
                case 10:
                    @(" Winter");
                    break;
                case 20:
                    @(" Spring/Summer");
                    break;
                case 30:
                    @(" Fall");
                    break;
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstOption.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FourthOption.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondOption.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThirdOption.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChoiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChoiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChoiceId })
        </td>
    </tr>
}

</table>



<script>
    $(document).ready(function () {
        var value = $('#validYearTerms').find(":selected").val();
        $('.values').each(function (index) {
            if (!$(this).hasClass(value))
                $(this).addClass('hide');
        });
    });

    $('#validYearTerms').change(function (data) {
        $('.values').addClass('hide');
        var c = $('#validYearTerms').find(":selected").val();
        $('.' + c).removeClass('hide');
    });

</script>
