@model IEnumerable<DiplomaDataModel.Option.Choice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<script>
    $.support.cors = true;
    var d;
    var count = 0;
    var firstChoiceArray = [];
    var secondChoiceArray =[];
    var thirdChoiceArray = [];
    var fourthChoiceArray =[];
    var parsedOptionsArray = [];


    $.ajax({
        url: "http://localhost:18254/api/Choices"
    }).done(function (data) {
        d = jQuery.parseJSON(data["choiceData"]);
        opdata = jQuery.parseJSON(data["optionData"]);


        $.each(opdata, function (index, value) {
            firstChoiceArray.push(0);
            secondChoiceArray.push(0);
            thirdChoiceArray.push(0);
            fourthChoiceArray.push(0);

        })


        console.log(count);

        var count = 0;
        $("#dataChart1").addClass("hide");
        $("#dataChart2").addClass("hide");
        $("#dataChart3").addClass("hide");
        $("#dataChart4").addClass("hide");


        var value = $('#termDrop').find(":selected").val();
        $('.values').each(function (index) {
            if (!$(this).hasClass(value))
                $(this).addClass('hide');
        });
        

        var x = $("#termDrop").find(":selected").val();

        $.each(d, function (index, value) {
            if (value["YearTermId"] == x) {

                firstChoiceArray[value["FirstChoiceOptionId"] - 1]++;
                secondChoiceArray[value["SecondChoiceOptionId"] - 1]++;
                thirdChoiceArray[value["ThirdChoiceOptionId"] - 1]++;
                fourthChoiceArray[value["FourthChoiceOptionId"] - 1]++;

                console.log(firstChoiceArray);
            }
        })
       
        var optionsChartArray = [];
        $.each(opdata, function (index, value) {
            optionsChartArray.push("{ \"name\": \"" + opdata[index]["Title"] + "\", \"y\": \"thingsArray[" + index + "]\" }");
            console.log(opdata[index]["Title"]);
        })
        $.each(optionsChartArray, function (index, value) {
             console.log(value);
            var z = jQuery.parseJSON(value);
            parsedOptionsArray.push(z);
        })

        console.log(parsedOptionsArray);



        $("#termDrop").on("change", function (data) {
            var x = $("#termDrop").find(":selected").val();
            $.each(opdata, function (index, value) {
                firstChoiceArray[index] = 0;
                secondChoiceArray[index] = 0;
                thirdChoiceArray[index] = 0;
                fourthChoiceArray[index] = 0;

            })
            $.each(d, function (index, value) {
                if (value["YearTermId"] == x) {

                    firstChoiceArray[value["FirstChoiceOptionId"] - 1]++;
                    secondChoiceArray[value["SecondChoiceOptionId"] - 1]++;
                    thirdChoiceArray[value["ThirdChoiceOptionId"] - 1]++;
                    fourthChoiceArray[value["FourthChoiceOptionId"] - 1]++;

                }
            })
           
            drawChart(firstChoiceArray, "#dataChart1", "First Choice Option", parsedOptionsArray);
            drawChart(secondChoiceArray, "#dataChart2", "Second Choice Option", parsedOptionsArray);
            drawChart(thirdChoiceArray, "#dataChart3", "Third Choice Option", parsedOptionsArray);
            drawChart(fourthChoiceArray, "#dataChart4", "Fourth Choice Option", parsedOptionsArray);


        })

    });
    


    

    //DOCUMENT READY
    $(document).ready(function () {
        

        $('#termDrop').change(function (data) {
            $('.values').addClass('hide');
            var c = $('#termDrop').find(":selected").val();
            $('.' + c).removeClass('hide');
        });





        $("#chartDrop").on("change", function (data) {
            var x = $("#chartDrop").find(":selected").val();
            console.log(x);

            if (x == "Tables") {
                $("#dataTable").removeClass("hide");
                $("#dataChart1").addClass("hide");
                $("#dataChart2").addClass("hide");
                $("#dataChart3").addClass("hide");
                $("#dataChart4").addClass("hide");


            } else {
                $("#dataTable").addClass("hide");
                $("#dataChart1").removeClass("hide");
                $("#dataChart2").removeClass("hide");
                $("#dataChart3").removeClass("hide");
                $("#dataChart4").removeClass("hide");


                drawChart(firstChoiceArray, "#dataChart1", "First Choice Option", parsedOptionsArray);
                drawChart(secondChoiceArray, "#dataChart2", "Second Choice Option", parsedOptionsArray);
                drawChart(thirdChoiceArray, "#dataChart3", "Third Choice Option", parsedOptionsArray);
                drawChart(fourthChoiceArray, "#dataChart4", "Fourth Choice Option", parsedOptionsArray);

                console.log("Load");
            }
        })
    });
    
</script>

@Html.DropDownList("validYearTerms", null, htmlAttributes: new { @class = "form-control" , @id = "termDrop"})
<br />
<select id="chartDrop" class="form-control">
    <option>Tables</option>
    <option>Charts</option>
</select>

<table id="dataTable"  class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YearTerm.YearTermId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOption.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondOption.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThirdOption.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FourthOption.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="@item.YearTermId values">
        <td>
            @(item.YearTerm.Year)
            @switch (item.YearTerm.Term)
            {
                case 10:
                    @(" Winter");
                    break;
                case 20:
                    @(" Spring/Summer");
                    break;
                case 30:
                    @(" Fall");
                    break;
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstOption.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FourthOption.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondOption.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThirdOption.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChoiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChoiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChoiceId })
        </td>
    </tr>
}

</table>



<script>


    var drawChart = function(thingsArray, divForThings, titleForCharts, sections){
       

        var pies = {
            slices:[]
        };        

        $.each(sections, function (index, value) {
            pies.slices.push({
                "name": sections[index]["name"],
                "y": thingsArray[index]
                });
        })


            $(divForThings).highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: titleForCharts
                },
                tooltip: {
                    enabled: false
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: false,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Choices',
                    colorByPoint: true,
                    data: pies.slices
                }]
            });
}

</script>








<div id="dataChart1" class="col-md-6" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="dataChart2" class="col-md-6" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="dataChart3" class="col-md-6" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="dataChart4" class="col-md-6" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>


