@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Edit";
}

<h2>Roles - Edit (@ViewBag.Name)</h2>

@Html.ActionLink("Index", "Index")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <h5>@ViewBag.ResultMessage</h5>

    <div class="form-horizontal">
        <h4>Role Name</h4>
        <hr />
        <div class="form-group">
            @Html.Label("Role Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Name")
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
}